@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: "Roboto", system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #ecf0f1;
  padding: 1rem;
}

button {
  user-select: none;
}

.player-names {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.player-names input {
  width: 200px;
  font-size: 1.2rem;
  padding: 8px 12px;
  border-radius: 12px;
  border: 1px solid #c9c9c9;
}

.player-names input:focus {
  outline-color: blue;
}

.game {
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  max-height: 500px;
  margin-top: 10px;
  position: relative;
}

.start-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  max-height: 500px;
  background-color: rgba(74, 74, 74, 0.1);
  backdrop-filter: blur(8px);
  transition: opacity 500ms ease;
}

.start {
  color: white;
  background-color: #3d4eec;
  width: 130px;
  padding: 12px 2px;
  border-radius: 12px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  max-height: 500px;
  border: 1px solid black;
}

.tiles {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 500ms ease;
}

.token {
  width: 60%;
}

.output {
  font-size: 2rem;
  margin-top: 20px;
  font-weight: bold;
  padding: 4px 16px;
  border-radius: 12px;
  display: none;
  transition: background-color 500ms ease, color 500ms ease;
}

.draw {
  color: black;
  background-color: #c9c9c9;
}

.reset {
  color: white;
  background-color: #3d4eec;
  width: 300px;
  margin-top: 20px;
  padding: 12px 2px;
  border-radius: 12px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}