@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #ecf0f1;
  padding: 1rem;
}

.board {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin-top: 10px;
  width: 100%;
  max-width: 500px;
  aspect-ratio: 1 / 1;
  max-height: 500px;
  border: 1px solid black;
}

.tiles {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: 1px solid black;
  cursor: pointer;
}

.token {
  width: 60%;
  user-select: none;
}

.results {
  font-size: 2rem;
  margin-top: 20px;
  font-weight: bold;
  color: green;
  background-color: lightgreen;
  padding: 4px 16px;
  border-radius: 12px;
  display: none;
}

.draw {
  color: black;
  background-color: #c9c9c9;
}

.reset {
  color: white;
  background-color: #3d4eec;
  width: 300px;
  margin-top: 20px;
  padding: 12px 2px;
  border-radius: 12px;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}